@model GrandLabFixers.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="col-main relative no-side-content">
    <div class="inner site-width">
        <div class="page-title">
            <h1>Forgot Your Password?</h1>
        </div>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()
            <div class="fieldset">
                <h2>Retrieve your password here</h2>
                <p class="form-instructions">Please enter your email address below. You will receive a link to reset your password.</p>
                <p class="required">* Required Fields</p>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <ul class="form-list">
                    <li>
                        <label for="email_address" class="required"><em>*</em>Email Address</label>
                        <div class="input-box">
                            @Html.TextBoxFor(m => m.Email, new { @class = "input-text required-entry validate-email", @type = "email", @autocapitalize = "off", @autocorrect = "off", @autocomplete="off", @spellcheck = "false", @name = "email", @alt = "email", @id = "email_address" })
                        </div>
                    </li>
                </ul>
            </div>
            <div class="buttons-set">
                <p class="back-link"><a href="@Url.Action("Login")"><small>« </small>Back to Login</a>
                </p>
                <button type="submit" title="Submit" class="button"><span><span>Submit</span></span></button>
            </div>
        }

            <div class="std"></div>
        </div>
    </div>



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
