@model GrandLabFixers.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="main-container col2-left-layout">
    <div class="main">
        <div class="site-width">
        </div>
        <div class="clearfix site-width">
            @Html.Partial("_sidebar")

            <div class="col-main">
                <div class="my-account">
                    <div class="page-title">
                        <h1>Edit Account Information</h1>
                    </div>
                @using (Html.BeginForm("UpdateUser", "Manage", FormMethod.Post, new {role = "form"}))
                {
                    @Html.AntiForgeryToken()

                    <div class="fieldset">
                        <input name="form_key" type="hidden" value="hpmJX2Jiq9te9IQe">
                        <h2 class="legend">Account Information</h2>
                        <p class="required">* Required Fields</p>
                        <ul class="form-list">
                            <li class="fields">
                                <div class="customer-name-middlename">
                                    <div class="field name-firstname">
                                        <label for="FirstName" class="required"><em>*</em>First Name</label>
                                        <div class="input-box">
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "input-text required-entry", @type = "text", @title = "First Name", @id = "firstname", @name = "firstname", @maxlength = "255" })
                                        </div>
                                    </div>
                                    <div class="field name-middlename">
                                        <label for="MiddleName">Middle Name/Initial</label>
                                        <div class="input-box">
                                            @Html.TextBoxFor(m => m.MiddleName, new { @class = "input-text", @type = "text", @title = "Middle Name/Initial", @id = "middlename", @name = "middlename"})
                                        </div>
                                    </div>
                                    <div class="field name-lastname">
                                        <label for="lastname" class="required"><em>*</em>Last Name</label>
                                        <div class="input-box">
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "input-text required-entry", @type = "text", @title = "Last Name", @maxlength = "255", @id = "lastname", @name = "lastname" })
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label for="email" class="required"><em>*</em>Email Address</label>
                                <div class="input-box">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "input-text required-entry validate-email", @type = "email", @autocapitalize = "off", @autocorrect = "off", @spellcheck = "false", @name = "email", @id = "email", @title = "Email Address" })
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="buttons-set">
                        <p class="back-link"><a href="@Url.Action("index", "Manage")"><small>« </small>Back</a></p>
                        <button type="submit" title="Save" class="button" pb-role="submit"><span><span>Update</span></span></button>
                    </div>
                }
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
                {
                        @Html.AntiForgeryToken()
                        <div class="fieldset">
                            <h2 class="legend">Change Password</h2>
                          
                                <ul class="form-list">
                                    <li>
                                        <label class="required"><em>*</em>Current Password</label>
                                        <div class="input-box">
                                           @Html.PasswordFor(m => m.OldPassword, new { @class = "input-text", @type = "password", @title = "Current Password" })
                                        </div>
                                    </li>
                                    <li class="fields">
                                        <div class="field">
                                            <label class="required"><em>*</em>New Password</label>
                                            <div class="input-box">
                                                @Html.PasswordFor(m => m.NewPassword, new { @class = "input-text validate-password", @type = "password", @title = "New Password"})
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="required"><em>*</em>Confirm New Password</label>
                                            <div class="input-box">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-text validate-cpassword", @type = "password", @title = "Confirm New Password"})
                                             </div>
                                        </div>
                                    </li>
                                </ul>
                           
                        </div>
                        <div class="buttons-set">
                            <p class="back-link"><a href="@Url.Action("index", "Manage")"><small>« </small>Back</a></p>
                            <button type="submit" title="Save" class="button" pb-role="submit"><span><span>Update</span></span></button>
                        </div>
               }
                   
                </div>
               
                <div class="std"></div>
            </div>

            <div class="col-left sidebar"></div>
        </div>
    </div>
</div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}