@model IEnumerable<GrandLabFixers.Models.Services>

@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container col2-left-layout">
<div class="main">
    <div class="site-width">
    </div>
    <div class="clearfix site-width">
        @Html.Partial("_salesdashboardsidebar")
        <div class="col-main relative no-side-content">
            <div class="inner site-width">
                <div class="cart display-single-price">
                    <div class="page-title title-buttons">
                        <h1>All Services</h1>
                        <ul class="checkout-types top">
                            <li>
                                <p class="paypal-logo">
                                    <a href="@Url.Action("CreateService")" title="Proceed to Checkout" class="button btn-proceed-checkout btn-checkout"><span><span>Add a New Service</span></span></a>
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary">Export To</button>
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li>@Html.ActionLink("Excel","ExportTo", new {ReportType="Excel"})</li>
                                                <li>@Html.ActionLink("PDF","ExportTo", new {ReportType="PDF"})</li>
                                            </ul>
                                        </div>
                                    </div>
                                    @*<a href="@Url.Action("Create")"><img src="~/Images/checkout-logo-medium.png" alt="Add a New Product" title="Add a New Product"></a>*@
                                </p>

                            </li>
                        </ul><br/>
                       </div>
                    @*<ul class="messages">
                                <li class="success-msg">
                                    <ul>
                                        <li><span>3 ft. Wide Motorized Adjustable Height Base Stand with Leg Levelers (NU-475/477/480 -300 Models) was updated in your shopping cart.</span></li>
                                    </ul>
                                </li>
                            </ul>*@


                   

                        <table id="shopping-cart-table" class="product-table data-table">
                            <colgroup>
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                
                                
                            </colgroup>
                            <thead>
                            <tr class="first last">
                            
                                <th colspan="1"><span class="nobr">Service Name</span></th>
                                <th class="a-center cart-price-head" colspan="1">
                                    <!-- <div class="cart-price-placeholder">-->
                                    <span class="nobr">Price</span>
                                    <!-- </div>-->
                                </th>
                               <th class="a-center" rowspan="1">
                                    <span class="nobr">
                                            Actions
                                        </span>
                                </th>
                            </tr>
                            </thead>

                            <tbody>

                            @if (!Model.Any())
                            {
                                <tr>
                                    <td colspan="4">
                                        No record found
                                    </td>
                                </tr>
                            }
                            else
                            {


                                foreach (var service in Model)
                                {
                                    <tr class="first last odd">
                                        
                                        <td class="product-cart-info">
                                            <a href="@Url.Action("ServiceView", "Products", new {id = service.ServiceId})" title="Remove Item" class="btn-remove btn-remove2">Remove Item</a>
                                            <h2 class="product-name">
                                                <a href="@Url.Action("ServiceView", "Products", new {id = service.ServiceId})">@service.Name</a>
                                            </h2>
                                           </td>

                                        <td class="product-cart-price" data-rwd-label="Price" data-rwd-tax-label="Excl. Tax">
                                            <span class="cart-price">

                                        <span class="price">@service.Price</span>

                                    </span>
                                        </td>

                                       <td class="a-center product-cart-remove last">
                                            <a href="@Url.Action("RemoveServiceItem", new {id = service.ServiceId})" title="Remove Item" class="btn-remove btn-remove2">Remove Item</a>
                                            <a href="@Url.Action("Editservice", "Products", new {id = service.ServiceId})" title="Edit Item" class="glyphicon glyphicon-edit"></a>
                                            <a href="@Url.Action("ServiceView", "Products", new {id = service.ServiceId})" title="View Item" class="glyphicon glyphicon-open"></a>
                                        </td>


                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                       
                        @section Scripts{
                            <script>
                                $(document).ready(function () {
                                    $('#shopping-cart-table').dataTable();
                                });
                            </script>
                        }
                        @*<ul class="pagination pull-right">
                            @{
                                double totalPage = @ViewBag.TotalPages;
                            }
                            @for (int i = 1; i <= totalPage; i++)
                            {
                                if (i == ViewBag.Page)
                                {
                                    <li class="active">@Html.ActionLink(i.ToString() + " ", "AllServices", new { Page = i })</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink(i.ToString() + " ", "AllServices", new { Page = i })</li>

                                }
                            }
                        </ul>*@

                    </div>
                <div class="std"></div>
            </div>
        </div>
    </div>
</div>
    </div>
