@using GrandLabFixers.Models
@model GrandLabFixers.Models.Product
@{
    ViewBag.Title = "GrandLab";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="product-view">
    <input name="form_key" value="sRm1DkDNEddbvscK" type="hidden">
    <div class="no-display">
        <input name="product" value="342" type="hidden">
        <input name="related_product" id="related-products-field" value="" type="hidden">
    </div>

    <div class="clearfix details-wrapper">

        <div class="product-img-box left two-column tablet-one-column">
            <div class="product-image product-image-zoom">
                <div class="product-image-gallery">

                    @{
                        var base64 = Convert.ToBase64String(@Model.Image);
                        var imgSrc = String.Format("data:~/Images;base64,{0}", base64);
                    }

                    <img id="image-main" class="gallery-image visible max-image" src="@imgSrc" alt="@Model.Name" title="@Model.Name">

                </div>
            </div>



        </div>

        <div class="product-shop left two-column tablet-one-column">
            <h1 class="product-name">@Model.Name</h1>



            <div class="short-description">
                <div class="std">
                    <p>
                        @Model.Details
                    </p>
                </div>
            </div>

            @{
                var urlaction = Url.RequestContext.RouteData.Values["action"];
                int urlId = Convert.ToInt32(HttpContext.Current.Request.Url.Segments[3]);
                if ((string)urlaction != "ServiceDetails")
                {
                    using (Html.BeginForm("AddCart", "Products", new { id = @Model.Id }))
                    {
                        <div class="request-links">
                            @if (User.IsInRole(RoleName.CanManageProducts) != true)
                            {


                            <button type="submit" title="Add to Cart" class="button green"><span><span>Request Quote</span></span></button>
                            @*<a href="@Url.Action("RequestService", "ShoppingCart", new {id = @Model.Id})" class="service-btn">Request Service</a>*@

                            }
                            
                                <p class="back-link-btn pull-right">
                                    <a href="@Url.Action("Index", "Home")"><small>« </small>Back</a>
                                </p>

                            
                        </div>
                    }
                }
                else
                {
                    using (Html.BeginForm("RequestService", "ShoppingCart", new { id = urlId }))
                    {
                        <div class="request-links">
                            @if (User.IsInRole(RoleName.CanManageProducts) != true)
                            {


                            <button type="submit" title="Request Service" class="button green"><span><span>Request Service</span></span></button>

                            }

                            <p class="back-link-btn pull-right">
                                <a href="@Url.Action("Service", "Home")"><small>« </small>Back</a>
                            </p>

                        </div>
                    }
                }

            }






            @*<div class="social">
                    <script type="text/javascript" src="NuWind%20General%20Purpose%20Bench%20Top%202.0%20Liter%20Refrigerated%20Centrifuge%20NU-C200R%20_%20NuAire_files/addthis_widget.js"></script>
                    <div data-title="NuWind General Purpose Bench Top 2.0 Liter Refrigerated Centrifuge NU-C200R | NuAire" data-url="http://www.nuaire.com/nu-c200r-nuwind-multi-application-bench-top-refrigerated-centrifuge" style="clear: both;" class="addthis_responsive_sharing"><div role="region" aria-labelledby="at-811f4837-269b-4a7d-b889-2d25284efdc3" class="at-resp-share-element at-style-responsive addthis-smartlayers addthis-animated at4-show" id="atstbx2"><span class="at4-visually-hidden" id="at-811f4837-269b-4a7d-b889-2d25284efdc3">AddThis Sharing Buttons</span><div class="at-share-btn-elements"><a style="background-color: rgb(59, 89, 152); border-radius: 0%;" class="at-icon-wrapper at-share-btn at-svc-facebook" tabindex="1" role="button"><span class="at4-visually-hidden">Share to Facebook</span><span style="line-height: 32px; height: 32px; width: 32px;" class="at-icon-wrapper"><svg style="width: 32px; height: 32px;" class="at-icon at-icon-facebook" viewBox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><path fill-rule="evenodd" d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z"></path></g></svg></span><span style="font-size: 11.4px; line-height: 32px; height: 32px;" class="at-label">Facebook</span></a><a style="background-color: rgb(29, 161, 242); border-radius: 0%;" class="at-icon-wrapper at-share-btn at-svc-twitter" tabindex="1" role="button"><span class="at4-visually-hidden">Share to Twitter</span><span style="line-height: 32px; height: 32px; width: 32px;" class="at-icon-wrapper"><svg style="width: 32px; height: 32px;" class="at-icon at-icon-twitter" viewBox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><path fill-rule="evenodd" d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336"></path></g></svg></span><span style="font-size: 11.4px; line-height: 32px; height: 32px;" class="at-label">Twitter</span></a><a style="background-color: rgb(220, 78, 65); border-radius: 0%;" class="at-icon-wrapper at-share-btn at-svc-google_plusone_share" tabindex="1" role="button"><span class="at4-visually-hidden">Share to Google+</span><span style="line-height: 32px; height: 32px; width: 32px;" class="at-icon-wrapper"><svg style="width: 32px; height: 32px;" class="at-icon at-icon-google_plusone_share" viewBox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><path fill-rule="evenodd" d="M12 15v2.4h3.97c-.16 1.03-1.2 3.02-3.97 3.02-2.39 0-4.34-1.98-4.34-4.42s1.95-4.42 4.34-4.42c1.36 0 2.27.58 2.79 1.08l1.9-1.83C15.47 9.69 13.89 9 12 9c-3.87 0-7 3.13-7 7s3.13 7 7 7c4.04 0 6.72-2.84 6.72-6.84 0-.46-.05-.81-.11-1.16H12zm15 0h-2v-2h-2v2h-2v2h2v2h2v-2h2v-2z"></path></g></svg></span><span style="font-size: 11.4px; line-height: 32px; height: 32px;" class="at-label">Google+</span></a><a style="background-color: rgb(0, 119, 181); border-radius: 0%;" class="at-icon-wrapper at-share-btn at-svc-linkedin" tabindex="1" role="button"><span class="at4-visually-hidden">Share to LinkedIn</span><span style="line-height: 32px; height: 32px; width: 32px;" class="at-icon-wrapper"><svg style="width: 32px; height: 32px;" class="at-icon at-icon-linkedin" viewBox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><path fill-rule="evenodd" d="M26 25.963h-4.185v-6.55c0-1.56-.027-3.57-2.175-3.57-2.18 0-2.51 1.7-2.51 3.46v6.66h-4.182V12.495h4.012v1.84h.058c.558-1.058 1.924-2.174 3.96-2.174 4.24 0 5.022 2.79 5.022 6.417v7.386zM8.23 10.655a2.426 2.426 0 0 1 0-4.855 2.427 2.427 0 0 1 0 4.855zm-2.098 1.84h4.19v13.468h-4.19V12.495z"></path></g></svg></span><span style="font-size: 11.4px; line-height: 32px; height: 32px;" class="at-label">LinkedIn</span></a><a style="background-color: rgb(132, 132, 132); border-radius: 0%;" class="at-icon-wrapper at-share-btn at-svc-email" tabindex="1" role="button"><span class="at4-visually-hidden">Share to Email</span><span style="line-height: 32px; height: 32px; width: 32px;" class="at-icon-wrapper"><svg style="width: 32px; height: 32px;" class="at-icon at-icon-email" viewBox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><g fill-rule="evenodd"></g><path d="M27 22.757c0 1.24-.988 2.243-2.19 2.243H7.19C5.98 25 5 23.994 5 22.757V13.67c0-.556.39-.773.855-.496l8.78 5.238c.782.467 1.95.467 2.73 0l8.78-5.238c.472-.28.855-.063.855.495v9.087z"></path><path d="M27 9.243C27 8.006 26.02 7 24.81 7H7.19C5.988 7 5 8.004 5 9.243v.465c0 .554.385 1.232.857 1.514l9.61 5.733c.267.16.8.16 1.067 0l9.61-5.733c.473-.283.856-.96.856-1.514v-.465z"></path></g></svg></span><span style="font-size: 11.4px; line-height: 32px; height: 32px;" class="at-label">Email</span></a><a style="background-color: rgb(255, 101, 80); border-radius: 0%;" class="at-icon-wrapper at-share-btn at-svc-compact" tabindex="1" role="button"><span class="at4-visually-hidden">Share to More</span><span style="line-height: 32px; height: 32px; width: 32px;" class="at-icon-wrapper"><svg style="width: 32px; height: 32px;" class="at-icon at-icon-addthis" viewBox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><path fill-rule="evenodd" d="M18 14V8h-4v6H8v4h6v6h4v-6h6v-4h-6z"></path></g></svg></span><span style="font-size: 11.4px; line-height: 32px; height: 32px;" class="at-label">More</span><span style="font-size: 11.4px; line-height: 32px;" class="at4-share-count-container">1</span></a></div></div></div>
                </div>*@



        </div>
    </div>











</div>