@model IEnumerable<GrandLabFixers.Models.RequestService>

@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container col2-left-layout">
    <div class="main">
        <div class="site-width">
        </div>
        <div class="clearfix site-width">
            @Html.Partial("_salesdashboardsidebar")
            <div class="col-main relative no-side-content">
                <div class="inner site-width">
                    <div class="cart display-single-price">
                        <div class="page-title title-buttons">
                            <h1>All Product Service Requests</h1>
                            <ul class="checkout-types top">
                                <li>
                                    <p class="paypal-logo">
                                        <div class="pull-right">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary">Export To</button>
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li>@Html.ActionLink("Excel", "ExportTo", new { ReportType = "Excel" })</li>
                                                    <li>@Html.ActionLink("PDF", "ExportTo", new { ReportType = "PDF" })</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </p>

                                </li>
                            </ul><br />
                        </div>
                        @*<ul class="messages">
                                <li class="success-msg">
                                    <ul>
                                        <li><span>3 ft. Wide Motorized Adjustable Height Base Stand with Leg Levelers (NU-475/477/480 -300 Models) was updated in your shopping cart.</span></li>
                                    </ul>
                                </li>
                            </ul>*@




                        <table id="shopping-cart-table" class="product-table data-table ">
                            <colgroup>
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">

                            </colgroup>
                            <thead>
                            <tr class="first last">
                                <th rowspan="1"><span class="nobr">Service</span></th>
                                <th class="a-center cart-price-head" colspan="1">
                                    <!-- <div class="cart-price-placeholder">-->
                                    <span class="nobr">Client</span>
                                    <!-- </div>-->
                                </th>
                                <th class="a-center cart-price-head" colspan="1">
                                    <!-- <div class="cart-price-placeholder">-->
                                    <span class="nobr">Institution</span>
                                    <!-- </div>-->
                                </th>

                                <th class="a-center cart-price-head" colspan="1">
                                    <!-- <div class="cart-price-placeholder">-->
                                    <span class="nobr">City</span>
                                    <!-- </div>-->
                                </th>
                               <th class="a-center cart-price-head" colspan="1">
                                    <!-- <div class="cart-price-placeholder">-->
                                    <span class="nobr">Date</span>
                                    <!-- </div>-->
                                </th>
                                <th class="a-center cart-price-head" colspan="1">
                                    <!-- <div class="cart-price-placeholder">-->
                                    <span class="nobr">Phone</span>
                                    <!-- </div>-->
                                </th>
                                <th class="a-center cart-price-head" colspan="1">
                                    <!-- <div class="cart-price-placeholder">-->
                                    <span class="nobr">Actions</span>
                                    <!-- </div>-->
                                </th>

                               </tr>
                            </thead>

                            <tbody>

                            @if (!Model.Any())
                            {
                                <tr>
                                    <td colspan="5">
                                        No record found
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var client in Model)
                                {
                                    <tr class="first last odd">
                                        <td class="product-cart-info">
                                            <a href="@Url.Action("ServiceView", "ShoppingCart", new {id = client.ServiceId})" title="Remove Item" class="btn-remove btn-remove2">Remove Item</a>
                                            <h2 class="product-name">
                                                <a href="@Url.Action("ServiceView", "ShoppingCart", new {id = client.ServiceId})">@client.ServiceName</a>
                                            </h2>
                                        </td>

                                       <td class="product-cart-price" data-rwd-label="Price" data-rwd-tax-label="Excl. Tax">
                                            <span class="cart-price">

                                                    <span class="price">@client.LastName</span>

                                                </span>
                                        </td>
                                        <td class="product-cart-price" data-rwd-label="Price" data-rwd-tax-label="Excl. Tax">
                                            <span class="cart-price">

                                                    <span class="price">@client.Company</span>

                                                </span>
                                        </td>

                                        <td class="product-cart-price" data-rwd-label="Price" data-rwd-tax-label="Excl. Tax">
                                            <span class="cart-price">

                                                    <span class="price">@client.City</span>

                                                </span>
                                        </td>
                                        
                                        <td class="product-cart-price" data-rwd-label="Price" data-rwd-tax-label="Excl. Tax">
                                            <span class="cart-price">

                                                    <span class="price">@client.RequestDate.ToString("dd MMM yyyy")</span>

                                                </span>
                                        </td>
                                        <td class="product-cart-price" data-rwd-label="Price" data-rwd-tax-label="Excl. Tax">
                                            <span class="cart-price">

                                                    <span class="price">@client.PhoneNumber</span>

                                                </span>
                                        </td>

                                        <td class="a-center product-cart-remove last">
                                            <a href="@Url.Action("RemoveServiceItem", new {id = client.ServiceId})" title="Remove Item" class="btn-remove btn-remove2">Remove Item</a>
                                            <a href="@Url.Action("ServiceView", "ShoppingCart", new {id = client.ServiceId})" title="View Item" class="glyphicon glyphicon-open"></a>

                                        </td>

                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
@section Scripts{
    <script>
                                $(document).ready(function () {
                                    $('#shopping-cart-table').dataTable();
                                });
    </script>
}
                        

                    </div>
                    <div class="std"></div>
                </div>
            </div>
        </div>
    </div>
</div>
